
.nav {
   width: 387px;
   height: 11%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   margin: auto;
}

 .logo {
   width: 50px;
   height: 50px;
   border-radius: 50%;
}

@media screen and (min-width: 600px) {
   .logo {
   width: 62px;
   height: 62px;
   border-radius: 50%;
}
   .nav {
   width: 85%;
   height: 12%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
}
}

.Right-side {
   width: 190px;
   display: flex;
   justify-content: space-between;
}

@media screen and (min-width: 600px) {
  .Right-side {
   width: 380px;
   display: flex;
   justify-content: space-between;
}
}

input {
   width: 8em;
   height: 37px;
   font-size: 16px;
   padding-left: 6px;
   border: none;
   outline: none;
   border-radius: 4px;
}

@media screen and (min-width: 600px) {
   input {
   width: 15em;
   height: 44px;
   font-size: 19px;
   padding-left: 6px;
   border: none;
   outline: none;
   border-radius: 5px;
}
}

.icon {
      padding: 0px 10px 0px 0px;
   }

@media screen and (min-width: 690px) {
   .icon {
      padding: 0px;
   }
}

.count {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20px;
   height: 20px;
   border-radius: 10px;
   position: absolute;
   color: white;
   top: 2px;
   background-color: blue;
}