*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  overflow-x: hidden;
}

.App {
  background-color: #e8eaec;
  padding-bottom: 100px;
  width: auto;
  margin: 0px;
}

@media screen and (min-width:600px) {
   .App {
  background-color: #e8eaec;
  padding-bottom: 100px;
  width: auto;
}
}

.f1 {
  text-align: center;
  position: relative;
  width: 130px;
  top: 90px;
  margin: 0px;
  left: 80px;
  font-size: 21px;
  font-weight: 400;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@media screen and (min-width:1300px) {
   .f1 {
  position: relative;
  width: 200px;
  top: 90px;
  left: 150px;
  font-size: 30px;
  font-weight: 500;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
}

.App-header {
  position: relative;
  top: 120px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: auto;
  height: auto;
  background-color: #e8eaec;
}

.load {
  width: 100px;
  height: 100px;
}

@media screen and (min-width:600px) {
   .App-header {
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: auto;
    background-color: #e8eaec;
   }

   .load {
  width: 100px;
  height: 100px;
}
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: auto;
  height: auto;
  margin: auto;
}

@media  screen and (min-width: 600px) {
  .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: auto;
}
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: auto;
  max-width: 100%;
  height: 77px;
  background-color: rgb(42, 42, 201);
  z-index: 1;
}

@media  screen  {
  .header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: rgb(42, 42, 201);
  z-index: 1;
}
}

.contain {
  position: fixed;
  top: 90px;
  z-index: 1;
}





